<!-- accordion -->
<ngb-accordion>
  <ngb-panel>
    <!-- title -->
    <ng-template ngbPanelTitle>
      {{course}}
      <span class="foreign_course_modify_buttons" *ngIf="isAdmin">
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editForeignCourse($event, editForeignCourseContent, rowData)"></i>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteForeignCourse($event, rowData)"></i>
      </span>
    </ng-template>
    
    <!-- inner content -->
    <ng-template ngbPanelContent>
      <button class="btn btn-success" type="button" (click)="addEquivCourse(addEquivCourseContent, rowData)">Add Equivalency</button>
      <div *ngIf="rowData.LocalCourses.length <= 0">
        No equivalent courses
      </div>
      <table *ngIf="rowData.LocalCourses.length > 0">
        <tr>
          <th class="col1">Local Course</th>
          <th class="col2">Status</th>
          <th class="col3">Locked By</th>
          <th class="col4">Notes</th>
          <th class="col5"></th>
        </tr>
        <tr *ngFor="let localCourse of rowData.LocalCourses">
          <td>{{localCourse.LocalCourseName}}</td>
          <td>{{localCourse.Status}}</td>
          <td>{{localCourse.LockedByUser}}</td>
          <td>{{localCourse.Notes}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editEquivCourse(editEquivCourseContent, localCourse, rowData)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEquivCourse(localCourse, rowData)"></i>
          </td>
        </tr>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<!-- Add Equivalency Modal -->
<ng-template #addEquivCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Foreign Course: {{dialogCourse.ForeignCourseName}}<br/>
    School: {{dialogCourse.SchoolName}}<br/>
    <br/>
    Local Course:
    <hr/>
    <form>
      <div class="form-group">
        <ng-template #rtLocalCourse let-r="result" let-t="term">
          <p>{{r.LocalCourseName}}</p>
        </ng-template>
        <label for="typeahead-LocalCourse" class="modalLabel">Course Title:</label>
        <input #LocalCourse id="typeahead-LocalCourse" type="text" class="form-control" placeholder="{{placeholders.LocalCourseName}}" [(ngModel)]="dialogInputs.LocalCourseName" [ngbTypeahead]="searchLocalCourse" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtLocalCourse" [inputFormatter]="formatterLocalCourse"/>
      </div>
      <div class="form-group">
        <ng-template #rtStatus let-r="result" let-t="term">
          <p>{{r.Status}}</p>
        </ng-template>
        <label for="typeahead-Status" class="modalLabel">Status:</label>
        <input id="typeahead-Status" type="text" class="form-control" placeholder="{{placeholders.Status}}" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="searchStatus" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus"/>
      </div>
      <div class="form-group">
        <label for="lock" class="modalLabel">Lock future modification?:</label>
        <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
      </div>
      <div class="form-group">
        <label for="notes" class="modalLabel">Notes:</label>
        <textarea id="notes" name="notes" placeholder="{{placeholders.Notes}}" [(ngModel)]="dialogInputs.Notes" class="form-control ng-pristine ng-valid"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addEquivCourseSubmit(dialogInputs, 'add')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="addEquivCourseSubmit(dialogInputs, 'cancel')">Cancel</button>
  </div>
</ng-template>

<!-- Edit Equivalency Modal -->
<ng-template #editEquivCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="editEquivCourseSubmit(dialogInputs, 'cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>SCU Course: {{dialogLocalCourse.LocalCourseName}}</p>
    <p>Foreign Course: {{dialogCourse.ForeignCourseName}}</p>
    <p>School: {{dialogCourse.SchoolName}}</p>
    
    <hr/>
    <form>
      <div class="form-group">
        <ng-template #rtStatus let-r="result" let-t="term">
          <p>{{r.Status}}</p>
        </ng-template>
        <label for="typeaheadStatus2" class="modalLabel">Status:</label>
        <input id="typeaheadStatus2" type="text" class="form-control" placeholder="{{placeholders.Status}}" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="searchStatus" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus"/>
      </div>
      <div class="form-group">
        <label for="lock" class="modalLabel">Lock future modification?:</label>
        <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
      </div>
      <div class="form-group">
        <label for="notes" class="modalLabel">Notes:</label>
        <textarea id="notes" name="notes" placeholder="{{placeholders.Notes}}" [(ngModel)]="dialogInputs.Notes" class="form-control ng-pristine ng-valid"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editEquivCourseSubmit(dialogInputs, 'edit')">Edit</button>
    <button type="button" class="btn btn-outline-dark" (click)="editEquivCourseSubmit(dialogInputs, 'cancel')">Cancel</button>
  </div>
</ng-template>

<!-- Edit foreign course modal -->
<ng-template #editForeignCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Foreign Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="editForeignCourseSubmit(dialogInputs2, 'cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Foreign Course: {{dialogInputs2.Name}}</p>
    <p>School: {{dialogInputs2.SchoolName}}</p>
    
    <hr/>
    <form>
      <div class="form-group">
        <ng-template #rtSchool3 let-r="result" let-t="term">
          <p>{{r.Name}}</p>
        </ng-template>
        <label for="typeahead-School3" class="modalLabel">School:</label>
        <input #School3 id="typeahead-School3" type="text" class="form-control" [ngbTypeahead]="searchSchool3" [resultTemplate]="rtSchool3" [inputFormatter]="formatterSchool3" placeholder="{{placeholders.SchoolName}}" [(ngModel)]="dialogInputs2.School2" [ngModelOptions]="{standalone: true}"/>
      </div>
      <div class="form-group">
        <label for="dept" class="modalLabel">Department:</label>
        <input id="dept" name="dept" type="text" placeholder="{{placeholders.Dept}}" [(ngModel)]="dialogInputs2.Dept" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="courseNum" class="modalLabel">Number:</label>
        <input id="courseNum" name="courseNum" type="text" placeholder="{{placeholders.CourseNum}}" [(ngModel)]="dialogInputs2.CourseNum" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="courseTitle" class="modalLabel">Title:</label>
        <input id="courseTitle" name="courseTitle" type="text" placeholder="{{placeholders.CourseTitle}}" [(ngModel)]="dialogInputs2.CourseTitle" class="form-control ng-pristine ng-valid"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editForeignCourseSubmit(dialogInputs2, 'edit')">Edit</button>
    <button type="button" class="btn btn-outline-dark" (click)="editForeignCourseSubmit(dialogInputs2, 'cancel')">Cancel</button>
  </div>
</ng-template>