<h1 align="center">Foreign Courses</h1>
<br>

<div class = "container">
  <div class="row">
    <div class="col-sm-8">
      <div align="center">
        <button type="button" class="btn btn-success" (click)="addForeignCourse(addForeignCoursecontent)" *ngIf="isAdmin">Add Course</button>
      </div>
      <form role="form">
        <div class="form-group float-label-control">
          <ng-template #rtSchool let-r="result" let-t="term">
            <p class="form-control-static">{{r.Name}}</p>
          </ng-template>
          <label for="typeahead-School">School:</label>
          <input #School id="typeahead-School" type="text" class="form-control" [ngbTypeahead]="searchSchool" [resultTemplate]="rtSchool" [inputFormatter]="formatterSchool" (input)="changes.SchoolName.next(School.value)" (selectItem)="changes.SchoolName.next($event.item.Name)" placeholder="{{placeholders.SchoolName}}" [placement]="['bottom-right']"/>
        </div>
        <div class="form-group float-label-control">
          <ng-template #rtForeignCourse let-r="result" let-t="term">
            <p class="form-control-static">{{r.ForeignCourseName}}</p>
          </ng-template>
          <label for="typeahead-ForeignCourse">Foreign Course:</label>
          <input #ForeignCourse id="typeahead-ForeignCourse" type="text" class="form-control" [ngbTypeahead]="searchForeignCourse" [resultTemplate]="rtForeignCourse" [inputFormatter]="formatterForeignCourse" (input)="changes.ForeignCourseName.next(ForeignCourse.value)" (selectItem)="changes.ForeignCourseName.next($event.item.ForeignCourseName)" placeholder="{{placeholders.ForeignCourseName}}" [placement]="['bottom-right']"/>
        </div>
      </form>
    </div>
  </div>
</div>

<ng2-smart-table
  [settings]="settings"
  [source]="source">
</ng2-smart-table>

<!-- Add Foreign Course Modal -->
<ng-template #addForeignCoursecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
  <h4 class="modal-title">Add Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="addForeignCourseSubmit(dialogInputs2, 'cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <ng-template #rtSchool2 let-r="result" let-t="term">
          <p>{{r.Name}}</p>
        </ng-template>
        <label for="typeahead-School2" class="modalLabel">School:</label>
        <input #School2 id="typeahead-School2" type="text" class="form-control" [ngbTypeahead]="searchSchool2" [resultTemplate]="rtSchool2" [inputFormatter]="formatterSchool2" placeholder="{{placeholders.SchoolName}}" [(ngModel)]="dialogInputs2.School" [ngModelOptions]="{standalone: true}"/>
      </div>
      <div class="form-group">
        <label for="dept" class="modalLabel">Department:</label>
        <input id="dept" name="dept" type="text" placeholder="{{placeholders.Dept}}" [(ngModel)]="dialogInputs2.Dept" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="courseNum" class="modalLabel">Number:</label>
        <input id="courseNum" name="courseNum" type="text" placeholder="{{placeholders.CourseNum}}" [(ngModel)]="dialogInputs2.CourseNum" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="courseTitle" class="modalLabel">Title:</label>
        <input id="courseTitle" name="courseTitle" type="text" placeholder="{{placeholders.CourseTitle}}" [(ngModel)]="dialogInputs2.CourseTitle" class="form-control ng-pristine ng-valid"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addForeignCourseSubmit(dialogInputs2, 'add')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="addForeignCourseSubmit(dialogInputs2, 'cancel')">Cancel</button>
  </div>
</ng-template>