table { 
  width: 100%; 
}

.foreign_course_modify_buttons {
  float: right;
  display: inline-block;
  color: #111;
}

.col1 {
  width: 25%;
}

.col2 {
  width: 25%;
}

.col3 {
  width: 20%;
}

.col4 {
  width: 20%;
}

.col5 {
  width: 10%;
}

.modalLabel {
  float: left;
  margin-left: 0%;
  margin-right: 10px;
}

.modalInput {
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}