<!-- accordion -->
<ngb-accordion>
  <ngb-panel>
    <!-- title -->
    <ng-template ngbPanelTitle>
      {{course}}
      <span class="local_course_modify_buttons" *ngIf="isAdmin">
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editLocalCourse($event, editLocalCourseContent, rowData)"></i>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteLocalCourse($event, rowData)"></i>
      </span>
    </ng-template>
    
    <!-- inner content -->
    <ng-template ngbPanelContent>
      <button class="btn btn-success" (click)="addEquivCourse(addEquivCourseContent, rowData)">Add Equivalency</button>
      <div *ngIf="rowData.ForeignCourses.length <= 0">
        No equivalent courses
      </div>
      <table *ngIf="rowData.ForeignCourses.length > 0">
        <tr>
          <th>Foreign Course</th>
          <th>School</th>
          <th>Status</th>
          <th>Locked By</th>
          <th>Notes</th>
          <th></th>
        </tr>
        <tr *ngFor="let foreignCourse of rowData.ForeignCourses">
          <td>{{foreignCourse.ForeignCourseName}}</td>
          <td>{{foreignCourse.SchoolName}}</td>
          <td>{{foreignCourse.Status}}</td>
          <td>{{foreignCourse.LockedByUser}}</td>
          <td>{{foreignCourse.Notes}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editEquivCourse(editEquivCourseContent, rowData, foreignCourse)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEquivCourse(rowData,foreignCourse)"></i>
          </td>
        </tr>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<!-- Add Equivalency Modal -->
<ng-template #addEquivCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    SCU Course: {{dialogCourse.LocalCourseName}}<br/>
    <br/>
    Foreign Course:
    <hr/>
    <form>
      <div class="form-group">
        <ng-template #rtSchool let-r="result" let-t="term">
          <p>{{r.Name}}</p>
        </ng-template>
        <label for="typeahead-School">School:</label>
        <input #School id="typeahead-School" type="text" class="form-control" [(ngModel)]="dialogInputs.SchoolName" [ngbTypeahead]="searchSchool" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtSchool" [inputFormatter]="formatterSchool" (input)="changes.SchoolName.next(School.value)" (selectItem)="changes.SchoolName.next($event.item.Name)"/>
      </div>
      <div class="form-group">
        <ng-template #rtForeignCourse let-r="result" let-t="term">
          <p>{{r.ForeignCourseName}}</p>
        </ng-template>
        <label for="typeahead-ForeignCourse">Course Title:</label>
        <input #ForeignCourse id="typeahead-ForeignCourse" type="text" class="form-control" [(ngModel)]="dialogInputs.ForeignCourseName" [ngbTypeahead]="searchForeignCourse" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtForeignCourse" [inputFormatter]="formatterForeignCourse"/>
      </div>
      <div class="form-group">
        <ng-template #rtStatus let-r="result" let-t="term">
          <p>{{r.Status}}</p>
        </ng-template>
        <label for="typeahead-Status">Status:</label>
        <input id="typeahead-Status" type="text" class="form-control" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="searchStatus" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus"/>
      </div>
      <div class="form-group">
        <label for="lock">Lock future modification?:</label>
        <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" [(ngModel)]="dialogInputs.Notes"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addEquivCourseSubmit(dialogInputs, 'add')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="addEquivCourseSubmit(dialogInputs, 'cancel')">Cancel</button>
  </div>
</ng-template>

<!-- Edit Equivalency Modal -->
<ng-template #editEquivCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>SCU Course: {{dialogCourse.LocalCourseName}}</p>
    <p>Foreign Course: {{dialogForeignCourse.ForeignCourseName}}</p>
    <p>School: {{dialogForeignCourse.SchoolName}}</p>
    
    <hr/>
    <form>
      <div class="form-group">
        <ng-template #rtStatus let-r="result" let-t="term">
          <p>{{r.Status}}</p>
        </ng-template>
        <label for="typeaheadStatus2">Status:</label>
        <input id="typeaheadStatus2" type="text" class="form-control" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="searchStatus" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus"/>
      </div>
      <div class="form-group">
        <label for="lock">Lock future modification?:</label>
        <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
      </div>
      <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea id="notes" name="notes" [(ngModel)]="dialogInputs.Notes"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editEquivCourseSubmit(dialogInputs, 'edit')">Edit</button>
    <button type="button" class="btn btn-outline-dark" (click)="editEquivCourseSubmit(dialogInputs, 'cancel')">Cancel</button>
  </div>
</ng-template>

<!-- Edit local course modal -->
<ng-template #editLocalCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Local Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>SCU Course: {{dialogInputs2.Name}}</p>
    
    <hr/>
    <form>
      <div class="form-group">
        <label for="dept">Department:</label>
        <input id="dept" name="dept" type="text" [(ngModel)]="dialogInputs2.Dept"/>
      </div>
      <div class="form-group">
        <label for="courseNum">Number:</label>
        <input id="courseNum" name="courseNum" type="text" [(ngModel)]="dialogInputs2.CourseNum"/>
      </div>
      <div class="form-group">
        <label for="courseTitle">Title:</label>
        <input id="courseTitle" name="courseTitle" type="text" [(ngModel)]="dialogInputs2.CourseTitle"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="c(dialogInputs2)">Edit</button>-->
    <button type="button" class="btn btn-outline-dark" (click)="editLocalCourseSubmit(dialogInputs2, 'edit')">Edit</button>
    <!--<button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cancel</button>-->
    <button type="button" class="btn btn-outline-dark" (click)="editLocalCourseSubmit(dialogInputs2, 'cancel')">Cancel</button>
  </div>
</ng-template>

<style>
table tr td{
  width:70px;
}
</style>