<!--
<ngb-accordion>
  <ngb-panel title="{{course.LocalCourseName}}">
    <ng-template ngbPanelContent>
      <button class="btn btn-success" (click)="open(content, course)">Add Equivalency</button>
      <div *ngIf="course.ForeignCourses.length <= 0">
        No equivalent courses
      </div>
      <table *ngIf="course.ForeignCourses.length > 0">
        <tr>
          <th>Foreign Course</th>
          <th>School</th>
          <th>Status</th>
          <th>Locked By</th>
          <th>Notes</th>
          <th></th>
        </tr>
        <tr *ngFor="let foreignCourse of course.ForeignCourses">
          <td>{{foreignCourse.ForeignCourseName}}</td>
          <td>{{foreignCourse.SchoolName}}</td>
          <td>{{foreignCourse.Status}}</td>
          <td>{{foreignCourse.LockedByUser}}</td>
          <td>{{foreignCourse.Notes}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="edit(content, course, foreignCourse)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(course, foreignCourse)"></i>
          </td>
        </tr>
      </table>
      <p>Open</p>
    </ng-template>
  </ngb-panel>
</ngb-accordion>
-->
<!--<p>{{course.LocalCourseName}}</p>-->

<!--
<p>{{course}}</p>
-->

<ngb-accordion>
  <ngb-panel title="{{course}}">
    <ng-template ngbPanelContent>
      <button class="btn btn-success" (click)="addEquivCourse(content, rowData)">Add Equivalency</button>
      <div *ngIf="rowData.ForeignCourses.length <= 0">
        No equivalent courses
      </div>
      <table *ngIf="rowData.ForeignCourses.length > 0">
        <tr>
          <th>Foreign Course</th>
          <th>School</th>
          <th>Status</th>
          <th>Locked By</th>
          <th>Notes</th>
          <th></th>
        </tr>
        <tr *ngFor="let foreignCourse of rowData.ForeignCourses">
          <td>{{foreignCourse.ForeignCourseName}}</td>
          <td>{{foreignCourse.SchoolName}}</td>
          <td>{{foreignCourse.Status}}</td>
          <td>{{foreignCourse.LockedByUser}}</td>
          <td>{{foreignCourse.Notes}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="edit(content, course, foreignCourse)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(course, foreignCourse)"></i>
          </td>
        </tr>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<!-- Equivalency Modal -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{dialogInputs.Mode}} Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    SCU Course: {{dialogCourse.LocalCourseName}}<br/>
    <br/>
    Foreign Course:
    <hr/>
    <form>
    <div class="form-group">
      <ng-template #rtSchool let-r="result" let-t="term">
        <p>{{r.Name}}</p>
      </ng-template>
      <label for="typeahead-basic1">School:</label>
      <input #School id="typeahead-basic1" type="text" class="form-control" [(ngModel)]="dialogInputs.SchoolName" [ngbTypeahead]="search1" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtSchool" [inputFormatter]="formatter1" (input)="changes.SchoolName.next(School.value)" (selectItem)="changes.SchoolName.next($event.item.Name)"/>
    </div>
    <div class="form-group">
      <ng-template #rtForeignCourse let-r="result" let-t="term">
        <p>{{r.ForeignCourseName}}</p>
      </ng-template>
      <label for="typeahead-basic2">Course Title:</label>
      <input #ForeignCourse id="typeahead-basic2" type="text" class="form-control" [(ngModel)]="dialogInputs.ForeignCourseName" [ngbTypeahead]="search2" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtForeignCourse" [inputFormatter]="formatterForeignCourse"/>
    </div>
    <div class="form-group">
      <ng-template #rtStatus let-r="result" let-t="term">
        <p>{{r.Status}}</p>
      </ng-template>
      <label for="status">Status:</label>
      <input id="typeahead-basic3" type="text" class="form-control" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="search3" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus"/>
    </div>
    <div class="form-group">
      <label for="lock">Lock future modification?:</label>
      <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
    </div>
    <div class="form-group">
      <label for="notes">Notes:</label>
      <textarea id="notes" name="notes" [(ngModel)]="dialogInputs.Notes"></textarea>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c(dialogInputs)">{{dialogInputs.Mode}}</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Cancel</button>
  </div>
</ng-template>