<!-- accordion -->
<ngb-accordion>
  <ngb-panel>
    <!-- title -->
    <ng-template ngbPanelTitle>
      {{course}}
      <span class="local_course_modify_buttons" *ngIf="isAdmin">
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editLocalCourse($event, editLocalCourseContent, rowData)"></i>
        <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteLocalCourse($event, rowData)"></i>
      </span>
    </ng-template>
    
    <!-- inner content -->
    <ng-template ngbPanelContent>
      <button class="btn btn-success buttonFix" type="button" (click)="addEquivCourse(addEquivCourseContent, rowData)">Add Equivalency</button>
      <div *ngIf="rowData.ForeignCourses.length <= 0">
        No equivalent courses
      </div>
      <table *ngIf="rowData.ForeignCourses.length > 0">
        <tr>
          <th class="col1">Foreign Course</th>
          <th class="col2">School</th>
          <th class="col3">Status</th>
          <th class="col4">Locked By</th>
          <th class="col5">Notes</th>
          <th class="col6"></th>
        </tr>
        <tr *ngFor="let foreignCourse of rowData.ForeignCourses">
          <td>{{foreignCourse.ForeignCourseName}}</td>
          <td>{{foreignCourse.SchoolName}}</td>
          <td>{{foreignCourse.Status}}</td>
          <td>{{foreignCourse.LockedByUser}}</td>
          <td>{{foreignCourse.Notes}}</td>
          <td>
            <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="editEquivCourse(editEquivCourseContent, rowData, foreignCourse)"></i>
            <i class="fa fa-trash-o" aria-hidden="true" (click)="deleteEquivCourse(rowData,foreignCourse)"></i>
          </td>
        </tr>
      </table>
    </ng-template>
  </ngb-panel>
</ngb-accordion>

<!-- Add Equivalency Modal -->
<ng-template #addEquivCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="addEquivCourseSubmit(dialogInputs, 'cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modalDescription">
      SCU Course: {{dialogCourse.LocalCourseName}}<br/>
      <br/>
      Foreign Course:
      <hr/>
    </div>
    <form>
      <div class="form-group">
        <ng-template #rtSchool let-r="result" let-t="term">
          <p>{{r.Name}}</p>
        </ng-template>
        <label for="typeahead-School" class="modalLabel">School:</label>
        <input #School id="typeahead-School" type="text" class="form-control" placeholder="{{placeholders.School}}" [(ngModel)]="dialogInputs.SchoolName" [ngbTypeahead]="searchSchool" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtSchool" [inputFormatter]="formatterSchool" (input)="changes.SchoolName.next(School.value)" (selectItem)="changes.SchoolName.next($event.item.Name)" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <ng-template #rtForeignCourse let-r="result" let-t="term">
          <p>{{r.ForeignCourseName}}</p>
        </ng-template>
        <label for="typeahead-ForeignCourse" class="modalLabel">Course Title:</label>
        <input #ForeignCourse id="typeahead-ForeignCourse" type="text" class="form-control" placeholder="{{placeholders.ForeignCourseName}}" [(ngModel)]="dialogInputs.ForeignCourseName" [ngbTypeahead]="searchForeignCourse" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtForeignCourse" [inputFormatter]="formatterForeignCourse" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <ng-template #rtStatus let-r="result" let-t="term">
          <p>{{r.Status}}</p>
        </ng-template>
        <label for="typeahead-Status" class="modalLabel">Status:</label>
        <input id="typeahead-Status" type="text" class="form-control" placeholder="{{placeholders.Status}}" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="searchStatus" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="lock" class="modalLabel">Lock future modification?:</label>
        <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
      </div>
      <div class="form-group">
        <label for="notes" class="modalLabel">Notes:</label>
        <textarea id="notes" name="notes" placeholder="{{placeholders.Notes}}" [(ngModel)]="dialogInputs.Notes" class="form-control ng-pristine ng-valid"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addEquivCourseSubmit(dialogInputs, 'add')">Add</button>
    <button type="button" class="btn btn-outline-dark" (click)="addEquivCourseSubmit(dialogInputs, 'cancel')">Cancel</button>
  </div>
</ng-template>

<!-- Edit Equivalency Modal -->
<ng-template #editEquivCourseContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Equivalency</h4>
    <button type="button" class="close" aria-label="Close" (click)="editEquivCourseSubmit(dialogInputs, 'cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="modalDescription">
      <p>SCU Course: {{dialogCourse.LocalCourseName}}</p>
      <p>Foreign Course: {{dialogForeignCourse.ForeignCourseName}}</p>
      <p>School: {{dialogForeignCourse.SchoolName}}</p>
    </div>
    
    <hr/>
    <form>
      <div class="form-group">
        <ng-template #rtStatus let-r="result" let-t="term">
          <p>{{r.Status}}</p>
        </ng-template>
        <label for="typeaheadStatus2" class="modalLabel">Status:</label>
        <input id="typeaheadStatus2" type="text" class="form-control" placeholder="{{placeholders.Status}}" [(ngModel)]="dialogInputs.Status" [ngbTypeahead]="searchStatus" [ngModelOptions]="{standalone: true}" [resultTemplate]="rtStatus" [inputFormatter]="formatterStatus" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="lock" class="modalLabel">Lock future modification?:</label>
        <input id="lock" name="lock" type="checkbox" [(ngModel)]="dialogInputs.Lock"/>
      </div>
      <div class="form-group">
        <label for="notes" class="modalLabel">Notes:</label>
        <textarea id="notes" name="notes" placeholder="{{placeholders.Notes}}" [(ngModel)]="dialogInputs.Notes" class="form-control ng-pristine ng-valid"></textarea>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editEquivCourseSubmit(dialogInputs, 'edit')">Edit</button>
    <button type="button" class="btn btn-outline-dark" (click)="editEquivCourseSubmit(dialogInputs, 'cancel')">Cancel</button>
  </div>
</ng-template>

<!-- Edit local course modal -->
<ng-template #editLocalCourseContent let-c="editLocalCourseSubmit(dialogInputs2, 'cancel')" let-d="editLocalCourseSubmit(dialogInputs2, 'cancel')">
  <div class="modal-header">
    <h4 class="modal-title">Edit Local Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="editLocalCourseSubmit(dialogInputs2, 'cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>SCU Course: {{dialogInputs2.Name}}</p>
    
    <hr/>
    <form>
      <div class="form-group">
        <label for="dept" class="modalLabel">Department:</label>
        <input id="dept" name="dept" type="text" placeholder="{{placeholders.Dept}}" [(ngModel)]="dialogInputs2.Dept" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="courseNum" class="modalLabel">Number:</label>
        <input id="courseNum" name="courseNum" type="text" placeholder="{{placeholders.CourseNum}}" [(ngModel)]="dialogInputs2.CourseNum" class="form-control ng-pristine ng-valid"/>
      </div>
      <div class="form-group">
        <label for="courseTitle" class="modalLabel">Title:</label>
        <input id="courseTitle" name="courseTitle" type="text" placeholder="{{placeholders.CourseTitle}}" [(ngModel)]="dialogInputs2.CourseTitle" class="form-control ng-pristine ng-valid"/>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editLocalCourseSubmit(dialogInputs2, 'edit')">Edit</button>
    <button type="button" class="btn btn-outline-dark" (click)="editLocalCourseSubmit(dialogInputs2, 'cancel')">Cancel</button>
  </div>
</ng-template>